.about {
    padding: 100px 0 50px;
    background-color: #424242;

    @media #{$screen-xs} {
        padding: 50px 0 25px;
        
    }

    &-top {
        margin-bottom: 50px;
    }

    &-img {
        width: 100%;
        padding-bottom: 100%;
        background-image: url(../img/me.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        box-shadow: 2px 1px 10px rgba(0,0,0,.35);

        @media #{$screen-xs} {
            width: 200px;
            height: 200px;
            padding-bottom: 0;
            margin: 0 auto 20px;
            
        }
    }

    &-content {
        color: #ffffff;

        &-title {
            font-size: 36px;
            line-height: 54px;
            font-family: 'Gilroy', sans-serif;
            font-weight: 800;
            margin-bottom: 5px;
            @media #{$screen-xs} {
                font-size: 24px;
                line-height: 28px;
            }
        }

        &-caption {
            font-size: 22px;
            line-height: 24px;
            font-family: 'Gilroy', sans-serif;
            font-weight: normal;
            margin-bottom: 60px;
            @media #{$screen-xs} {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 30px;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 24px;
            font-family: 'Gilroy', sans-serif;
            margin-bottom: 10px;

            @media #{$screen-xs} {
                font-size: 16px;
                line-height: 18px;
            }

            &.margin {
                margin-bottom: 40px;
            }

            &:last-child {
                margin-bottom: 0;
                text-align: right;
            }

            a {
                color: #cfcfcf;
                text-decoration: none;
                position: relative;
                display: inline-block;
                transition: all .125s;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0; 
                    height: 1px;
                    background-color: #ffffff;
                    transition: all .125s;
                }

                &:hover {
                    color: #ffffff;
                    &::after {
                        transform: translateY(2px);
                    }
                }
            }
        }
    }
}