.music {
    padding: 100px 0;
    background-image: linear-gradient(to bottom, rgba(32,32,32,.15) 0%, rgba(0,0,0,.85) 100%), url(../img/music.jpg);
    background-size: cover;
    background-position: bottom;

    @media #{$screen-sm} {
        padding: 50px 0;
    }

    &-title {
        text-align: center;
        color: #dadada;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 60px;
        font-family: 'gilroy', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media #{$screen-sm} {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 40px;
        }
    }

    &-item {
        text-align: center;
        color: #ffffff;

        &-wrap {
            text-align: center;

            @media #{$screen-sm} {
                margin-bottom: 30px;
            }
        }

        &-img {
            width: 100%;
            padding-bottom: 100%;
            border-radius: 12px;
            background-size: cover;
            margin-bottom: 20px;
            background-position: center;
            box-shadow: 4px 2px 10px rgba(0,0,0,.35);

            @media #{$screen-sm} {
                width: 200px;
                height: 200px;
                padding-bottom: 0;
                margin: 0 auto 20px;
            }
        }

        &-title {
            margin-bottom: 10px;
            font-family: 'Acme', sans-serif;
            font-size: 24px;
            line-height: 28px;

            @media #{$screen-sm} {
                font-size: 18px;
                line-height: 20px;
            }
        }

        &-date {
            font-family: 'gilroy', sans-serif;
            font-size: 14px;
            line-height: 16px;
        }

        &:hover {
            text-decoration: none;
            color: #acacac;

            .music-item{
                &-img {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,.8);
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    &-player {
        border-radius: 4px;
        background-color: #ffffff;
        overflow: hidden;

        &-albums {
            padding: 15px 30px 15px 30px;
            width: 100%;

            &--title {
                font-family: 'gilroy';
                font-weight: bold;
                font-size: 26px;
            }
        }

        &-rewind {
            border-left: 1px solid rgba(105,105,105,.3);
        }

        &-controls {
            padding: 15px 30px 15px 30px;
            border-bottom: 1px solid rgba(105,105,105,.3);
            display: flex;

            &-wrap {
                display: block;
            }

            &--button {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border: 0;
                outline: 0;
                background: 0;
                padding: 0;
                margin-right: 10px;
                &.small {
                    margin-right: 10px;
                    width: 25px;
                    height: 25px;
                }
                .svg-inline--fa {
                    width: 100%;
                    height: 100%;
                    path {
                        transition: fill .25s;
                    }
                }
                &:focus {
                    outline: 0;
                }
                &:hover {
                    .svg-inline--fa path {
                        fill: #b00000;
                    }
                }
            }

            &-progress {
                flex: 1;
                height: 5px;
                background-color: rgba(185,185,185, .5);
                margin: 0 15px;
                border-radius: 2px;
            }

            &-buy {
                margin-left: auto;
                display: flex;
                align-items: center;
                .svg-inline--fa {
                    margin-right: 0.1em;
                    vertical-align: -0.3em;
                }

                &--price {
                    margin-right: 0.5em;
                    display: inline-block;
                    font-family: 'Acme', sans-serif;
                    font-size: 22px;
                }
            }
        }

        &-content {
            padding: 15px;
            padding-right: 14px;
            padding-left: 0;
            &--item {
                padding: 5px 30px;
                display: block;
                cursor: pointer;
                font-size: 14px;
                transition: background-color .125s, color .125s;
                color: #2e2e2e;

                &:hover {
                    background-color: #d64545;
                    color: #ffffff;
                }

                &.active {
                    background-color: #b00000;
                    color: #ffffff;
                }
            }
        }
    }
} 